.container {
  display: flex;
  align-items: center;
}

.back {
  position: absolute;
  z-index: 0;
  right: -1.5px;

  width: 38px;
  height: 38px;

  border-radius: 50%;

  transition: 0.3s;
}

.buttonContainer {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: ease-in 0.2s;

  &:hover {
    .back {
      background-color: rgb(56 56 56 / 80%);
    }
  }

  &:active {
    .back {
      background-color: var(--color-dark-100);
    }
  }
}

.button {
  cursor: pointer;

  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;
  margin-right: 8px;

  background: none;
  border: 2px solid var(--color-light-900);
  border-radius: 2px;
}

.checked {
  cursor: pointer;
  z-index: 1;

  &:disabled {
    background-color: var(--color-light-700);
    border-color: var(--color-dark-100);
  }
}

.unchecked {
  &:disabled {
    background-color: transparent;
    border-color: var(--color-dark-100);
  }
}

.indicator {
  width: 18px;
  height: 18px;
}

.disabled {
  color: var(--color-dark-100);
}
