.loader {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 2px;
}

.loader::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 96px;
  height: 4.8px;

  background: #fff;

  animation: hitZak 1s ease-in-out infinite alternate;
}

@keyframes hitZak {
  0% {
    left: 0;
    transform: translateX(-1%);
  }

  100% {
    left: 100%;
    transform: translateX(-99%);
  }
}
