.headerRoot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  width: 100%;
  min-height: 3.75rem;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0.75rem 10px;
  background-color: var(--color-dark-300);
}
