.selectorProduct{
  border: 1px solid var(--color-dark-100);
}
.weightBox{
   display: flex;
   align-items: end;
 }
.inputWeight input{
  border: 1px solid var(--color-dark-100);
  margin: 0;
}
.selectWeight{
  margin-bottom: 10px;
  width: 90px;
}