.title {
  margin-bottom: 13px;
}

.radioGroupItems {
  margin-bottom: 29px;
}

.nextButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 348px;
  padding: 6px 28px;
}
